<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card card-body">
      <h3 class="text-center lead  mb-3">Hospital/Clinic Register</h3>
      <form action="/users/register" method="post">
        <div class="form-group">
          <label for="docId">Affliation Number (Doc No.)</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" value="{{name}}" name="name" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" value="{{email}}" name="email" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="hospital">Hospital/Clinic Name</label>
          <input type="text" value="{{hospital}}" name="hospital" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="department">Department</label>
          <input type="text" value="{{department}}" name="department" class="form-control" required>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" value="{{password}}" name="password" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="password2">Confirm Password</label>
          <input type="password" value="{{password}}" name="password2" class="form-control" required>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-dark">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>